player-connection-mode=Listen
player-connection-guid=2444763123
player-connection-debug=0
player-connection-project-name=My personal project
player-connection-ip=10.10.218.80
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=18e9b196e3f44afb98920d6e1f27e9c7
